:root {
  --mainBlack: #0C0D14;
  --secondaryBlack: #13141E;
  --mainBlue: #00E6F6;
}

@font-face {
  font-family: Fredoka;
  src: url(./assets/fonts/Fredoka-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mainBlack);
}

.header_logo {
  width: 200px;
  cursor: pointer;
}

.header_bg {
  background-color: #18181b61 !important;
  backdrop-filter: blur(10px);
}

.categoryIcon {
  max-width: 80px;
}

.categoryGit {
  filter: invert();
}

.blinking-text {
  animation: blink 2s infinite; 
}

.gameContainer {
  min-height: 100vh;
  min-width: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.gameContainer::after{
  content: "";
  position: absolute;
  background-color:var(--mainBlue);
  width: 120px;
  height: 120px;
  top:12%;
  left: 70%;
  filter: blur(100px);
}

.gameContainer::before{
  content: "";
  position: absolute;
  background-color: var(--mainBlue);
  width: 120px;
  height: 120px;
  top:78%;
  left: 20%;
  filter: blur(100px);
}

.answerContainer {
  margin: 1em !important;
  border: 1px solid white;
  border-radius: 10px;
  height: 80px;
}

.questionContainer {
  padding: 1em;
  margin-top: 3em !important;
  min-height: 100px !important;
  height: fit-content;
}

.answerContainerHover:hover{
  cursor: pointer;
  transform: scale(102%);
  box-shadow: 0px 0px 25px -8px rgba(0,230,246,1);
}

.correctAnswer{
  box-shadow: 0px 0px 25px -8px rgb(0, 246, 86);
}

.incorrectAnswer {
  box-shadow: 0px 0px 25px -8px rgb(246, 0, 0);
}

.correctText{
  text-shadow: 0px 0px 15px rgb(0, 246, 86) !important;
}

.incorrectText {
  text-shadow: 0px 0px 15px rgb(246, 0, 0);

}

.blueBoldText {
  color: var(--mainBlue);
  font-weight: bolder;
  font-size: x-large;
}

.correctAnswerResults{
  box-shadow: 0px 0px 15px -8px rgb(0, 246, 86);
}

.incorrectAnswerResults{
  box-shadow: 0px 0px 15px -8px rgb(246, 0, 0);
}

.footerLink{
  color: white;
}

.footerIconLink {
  text-decoration: none;
  height: fit-content;
  display: block;
  height: 25px;
  width: 25px;
}

.footerIconLink:hover {
  transform: scale(110%);
  transition: all ease-in 0.3s;
}

.footerIcon {
  width: 25px;
  height: 25px;
  filter: invert();
}


.footerLinkedinIcon {
  filter: brightness(0%) invert();
}


@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}