:root {
  --mainBlack: #0C0D14;
  --secondaryBlack: #13141E;
  --mainBlue: #00E6F6;
}

@font-face {
  font-family: Fredoka;
  src: url(./assets/fonts/Fredoka-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mainBlack);
}

.header_logo {
  width: 200px;
  cursor: pointer;
}

.header_bg {
  background-color: #18181b61 !important;
  backdrop-filter: blur(10px);
}

.categoryIcon {
  max-width: 80px;
}

.categoryGit {
  filter: invert();
}

.blinking-text {
  animation: blink 2s infinite; 
}

.gameContainer {
  min-height: 100vh;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.gameContainer::after{
  content: "";
  position: absolute;
  background-color:var(--mainBlue);
  width: 120px;
  height: 120px;
  top:12%;
  left: 70%;
  filter: blur(100px);
}

.gameContainer::before{
  content: "";
  position: absolute;
  background-color: var(--mainBlue);
  width: 120px;
  height: 120px;
  top:78%;
  left: 20%;
  filter: blur(100px);
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}